
/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
#page-about body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

#page-about a {
  text-decoration: none;
  color: #999;
}
#page-about a:hover {
  color: #6633ff;
}

/* Section Styles */

#page-about .main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
#page-about .nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
#page-about .nav li {
  padding: 5px 10px 10px 10px;
}
#page-about .nav a {
  transition: all .5s;
}
#page-about .nav a:hover {
  color: white
}

#page-about header {
  text-align: center;
  background: url('images/portland.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}

#page-about header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
#page-about header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #222;
  color: yellow;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

#page-about footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

#page-about footer .copyright {
  top: -8px;
  font-size: .75em;
}

#page-about footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-about footer ul li {
  display: inline-block;
}

#page-about a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
#page-about a.twitter {
  background-image: url(images/twitter.svg);
}
#page-about a.linkedin {
  background-image: url(images/linkedin.svg);
}
#page-about a.github {
  background-image: url(images/github.svg);
}
#page-about a.social:hover {
  opacity: 1;
}
#page-about #page-about.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}


/* Global Layout Set-up */

* { 
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto';
  text-align: center;
  display: grid; 
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: white;
  overflow-x: hidden;
  
}

/*# code adapted from https://youtube.com/webcifar/*/ 
  
.container {
  min-height: 100%;
  margin-bottom: -30px;
  margin: 0 auto;
  padding: 50px 20px;
  }

/*# code adapted from https://codepen.io/johndoenma/pen/VXpaVM*/

  .page-content {
    min-height: 100%;
    margin-bottom: -200px;       
  }
      
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;   
  }
  
  .container::after {
    content: "";
    display: block;
    margin-bottom: -30px;
  }

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  flex-direction: column;
}


.site-navigation {
  float: right;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

 /*# code adapted from https://codepen.io/johndoenma/pen/VXpaVM*/
  
 .site-identity img {
  max-width: 110px;
  float: left;
  margin: 0 10px 0 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0; 
}

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: .5em 1em;
  position: fixed;
  text-align: center;
}

.main-nav::after {
  content: "";
  display: table;
  clear: both;
}

.nav li {
  padding-top: 36px;
  padding-bottom: 36px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.nav a {
  transition: all .5s;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.nav a:hover {
  color: grey
}
/* Headers*/

header {
  text-align: center;
  background: url('images/toronto.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}


header .profile-image {
  margin-top: 95px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

/*# code adapted from https://www.youtube.com/@freeccodecamp*/
 

.sticky-header-lesson {
  margin-top: 200px;
}

.sticky-header {
  position: fixed;
  top: 0;
  height: 10px; 
  background: black;   
  width: 100%;
  left: 0;
  z-index: 99;
}

/* Link Styles */

.a-interests {
padding-right: 5px;

 
} 

.a-home {
  padding-right: 5px;
  padding-left: 1200px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

.travel-photography-link {
  color: black;
  padding-bottom: 20px;
  padding-left: 10px;
}

.travel-photography-link:hover {
  color: grey;
  padding-top: 100px;
}

.photography-link {
  color: black;
  padding-top: 100px;
}

.photography-link:hover {
  color: grey;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/*Main Content*/

/*# code adapted from https://codepen.io/johndoenma/pen/VXpaVM*/

.page-content {
  min-height: 100%;
  margin-bottom: -200px;       
}  

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.location {
  background-color: #222;
  color: yellow;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

h2 {
  padding-top: 10px; 
  font-family: 'Roboto';    
}

p {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.paragraph {
  padding-bottom: 10px;    
}

.icons {
  padding-top: 10px;    
}

#plane {
  color: orange;  
}
    
#plane:hover {
  transform: scale(1.2) rotate(5deg);
}

#book {
  color: blue;
  padding-top: 30px;
}

#book:hover {
  transform: scale(1.2) rotate(5deg);
}
    
#camera {
  color: yellowgreen;
  padding-top: 15px;
}
      
#camera:hover {
  transform: scale(1.2) rotate(5deg);
}  

/*# code adapted from https://youtube.com/webcifar/*/ 
  
.gallery {
  padding-top: 20px; 
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
  grid-gap: 10px;
}

.photo {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Footers*/

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer {
  background-color: black;
  font-size: 1.3em;
  width: 100vw;
  margin: 40px auto 0 auto; 
  color: white;
}

footer p {
  margin-bottom: 0;
}

/*# code adapted from https://www.youtube.com/@freecodecamp*/
footer, .container::after {
  height: 120px;    
} 

.footer-nav {
  display: inline-block;
  justify-content: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}

.social-navlinks {
  color: white; 
  align-items: center;
  justify-content: center;
}
.social-medias {
  align-items: center;
  justify-content: center;
}

.clearfix {
  clear: both;
}
.copyright {
  color: grey;
  justify-content: center;
  align-items: center;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  main {
    padding-top: 20px;
  }

  main p {
  line-height: 1.6em;
  }
  
