* {
    box-sizing: border-box;    
  }
    
    
    html, body {
      height: 100%;
      margin: 0;
    }


    h2 {
      padding-top: 10px; 
      font-family: 'Roboto';    
    }

    p {
      padding-top: 10px;
      font-family: 'Roboto', sans-serif;

    }
    
    
    .copyright {
      color: grey;
      justify-content: center;
      align-items: center;
  }

    body {
      font-family: 'Roboto';
      text-align: center;
      display: grid; 
      grid-template-rows: 1fr auto;
      min-height: 100vh;
      overflow-x: hidden;
    }
   /*# code adapted from https://www.youtube.com/@freeccodecamp*/
    
    .sticky-header-lesson {
      margin-top: 200px;
    }
    
    .sticky-header {
      position: fixed;
      top: 0;
      height: 100px; 
      background: black;   
      width: 100%;
      left: 0;
      z-index: 99;
    }

    
    
    .main-nav {
      width: 100%;
      background: black;
      min-height: 30px;
      padding: .5em 1em;
      position: fixed;
      text-align: center;
    }

    .main-nav::after {
      content: "";
      display: table;
      clear: both;
    }

    .nav {
      display: flex;
      font-weight: 700;
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
    }
        

    .nav li {
      padding-top: 36px;
      padding-bottom: 36px;
      font-family: 'Poppins', sans-serif;
      color: white;
    }

      .nav a {
        transition: all .5s;
        font-family: 'Poppins', sans-serif;
        color: white;
      }
      
      
    a {
      text-decoration: none;
      color: white;
      }

    a:hover {
      color: grey;
    }
     
  .a-home {
    padding-right: 5px;
    padding-left: 1200px;
  } 
    
    .a-interests {
      padding-right: 5px;
      padding-left: 50px;
  } 

/*# code adapted from https://codepen.io/johndoenma/pen/VXpaVM*/

.site-identity img {
  max-width: 100px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.nav {
  display: flex;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.page-content {
  min-height: 100%;
  margin-bottom: -200px;       
}
    
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;   
}

  

.travel-photography-link {
  color: black;
  padding-bottom: 20px;
  padding-left: 10px;
}

.travel-photography-link:hover {
  color: grey;
  padding-top: 100px;
}

.photography-link {
  color: black;
  padding-top: 100px;
}

.photography-link:hover {
  color: grey;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#plane {
  color: orange;  
}
    
#plane:hover {
  transform: scale(1.2) rotate(5deg);
}

#book {
  color: blue;
  padding-top: 30px;
}

#book:hover {
  transform: scale(1.2) rotate(5deg);
}
    
#camera {
  color: yellowgreen;
  padding-top: 15px;
}
      
#camera:hover {
  transform: scale(1.2) rotate(5deg);
}     
           
.social-navlinks {
  color: white; 
  align-items: center;
  justify-content: center;
}
.social-medias {
  align-items: center;
  justify-content: center;
}
   
.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: grey
}

.paragraph {
  padding-bottom: 10px;    
}
   
.icons {
  padding-top: 10px;    
}

.footer-nav {
 display: inline-block;
 justify-content: center;
}
    
footer {
  background: black;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 9px;
}
   
    