/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

html, body {

height: 100%;
margin: 0;
}
 /*# code adapted from https://codepen.io/johndoenma/pen/VXpaVM*/

 .site-identity img {
  max-width: 110px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
  padding-right: 20px;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

/*# code adapted from https://www.youtube.com/@freecodecamp*/

.sticky-header-lesson {
  margin-top: 50px;
}

.sticky-header {
display: flex;
position: fixed;
top: 0;
height: 120px; 
background: black;   
width: 100%;
left: 0;
z-index: 99;
}

.t-logo {
margin-left: 0;
}


/*# code adapted from https://youtube.com/webcifar/*/ 

.container {

  min-height: 100%;
  margin-bottom: -30px;
  margin: 0 auto;
  padding: 50px 20px;
  }

.gallery {

padding-top: 20px; 
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
margin-top: 50px;
grid-gap: 10px;
}

.photo {

width: 100%;
height: 300px;
position: relative;
overflow: hidden;
border-radius: 12px;
} 

/*# code adapted from https://www.youtube.com/@freecodecamp*/
.container::after {
  content: "";
  display: block;
  margin-bottom: -30px;
}
footer, .container::after {

  height: 120px;    
} 
  
body {
  
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: white;
  overflow-x: hidden;
  
}
/* Link Styles */

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: grey;
}

.a-home {
  padding-right: ;
  padding-left: 1200px;

  } 
  
  .a-interests {
  
  padding-right: 5px;
  padding-left: 50px;
  

  } 

/* Section Styles */

.main-nav {
  width: 100vw;
  background: black;
  min-height: 30px;
  padding: 10px;
 text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}


.nav li {
  padding-top: 36px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: grey
}



img {

width: 100%;
height: 100%;
object-fit: cover;
}

section {
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: 100px 0;
}

.copyright {
color: gray;
}

footer {
  
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}









/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
     
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
      height: 300vh;
      padding-top: 20vh;
      
  }

  header {
   height: 20vh;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    background-color: black;  
    font-size: 1.3em;
    width: 100vw;
    margin: 40px auto;
color: white;
  }

}


